<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/educational-instituions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://kona-digital.com/images/logo.png" alt="Kona Logo" height="50">
        </div>
        <nav>
            <div class="dropdown">
                <a href="#">Products</a><i class="fa-solid fa-angle-down"></i>
                <div class="dropdown-content">
                    <a href="./../views/lms.html">LMS</a>
                    <a href="./../views/crm.html">CRM</a>
                    <a href="./../views/hrms.html">HRMS</a>
                    <a href="./more.html">More</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Solutions</a><i class="fa-solid fa-angle-down"></i>
                <div class="dropdown-content">
                    <a href="./../views/educational-instituions.html">Educational Institutions</a>
                    <a href="./Finance.html">FINANCE</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="#">SERVICES</a><i class="fa-solid fa-angle-down"></i>
                <div class="dropdown-content">
                    <a href="./Sales.html">Sales</a>
                    <a href="./Services.html">Services</a>
                    <a href="./marketing.html">marketing</a>
                </div>
            </div>
            <a href="#">Resources</a>
            <a id="shaik" href="./../views/know-more.html">Start Now</a>
        </nav>
    </div>
    </div>
     <div class="background">
            <img src="https://kona-digital.com/images/blur1.png">
        </div>
    <div class="title-1">
        <h6 class="titlesix">Own your Virtual School &amp; College</h6>
        <h3 class="titletwo">Keep your school &<br> college running with<br> kona LMS</h3>
        <p>LMS is a great student learning tool. LMS can boost students' performance <br>and improve parents' impressions on school.Kona LMS is the most user<br> friendly LMS system for schools and colleges</p>
        <div class="btn-1">
            <a href="./../views/know-more.html"></a>Know More Details</a>
         </div>
         <div class="btn-2">
            <a href="./../views/know-more.html"></a>Ask For Free Demo</a>
         </div>
     <div class="headimg">
         <img src="https://kona-digital.com/images/credit.jpg" alt="">
    </div>
    </div>
    
        <div class="headimg-1">
            <img src="https://kona-digital.com/images/monitor.jpg" alt="">
        </div>
    <div class="title">
    <div class="title-2">
            <h6 class="titlesix">Advanced Dashboard</h6>
            <h3 class="titletwo">Monitor user<br>
             activity and <br>
             subscription plans.</h3>
             <p>Performance and improve parents' impressions on school.Kona<br> LMS is the most user friendly LMS system for schools and<br>colleges</p>
     </div>
     </div>
    </div>
    <div class="icons">
        <div class="tickmark">
            <i class="fa-solid fa-circle-check"></i>Customer Balance
        </div>
        <div class="tickmark">
            <i class="fa-solid fa-circle-check"> </i>Template Category Access
        </div>
        <div class="tickmark">
            <i class="fa-solid fa-circle-check"> </i>User Spending
        </div>
    </div>
</div>
<div class="whatcan">
    <div class="container">
        <h2 class="titlethree">What can it write   for you?</h2>
    </div>
    <div class="background1">
        <img src="./../images/whatcanbg.svg" width="100%" height="50%">
    </div>
        <ul class="whaticons">
        
            <li>
                <img id=iconimg src="https://kona-digital.com/images/code.png" alt="">
                <h6>Code</h6>
            </li>
            <li>
                <img id=iconimg src="https://kona-digital.com/images/video.png" alt="">
                <h6>Videos</h6>
            </li>
            <li>
                <img  id=iconimg src="https://kona-digital.com/images/news.png" alt="">
                <h6>Newsletter</h6>
            </li>
            <li>
                <img id=iconimg src="https://kona-digital.com/images/music.png" alt="">
                <h6>Podcast
                    Script</h6>
            </li>
            <li>
                <img  id=iconimg src="https://kona-digital.com/images/social.png" alt="">
                <h6>Social
                    Ads</h6>
            </li>
            </ul>
        </div>
      </div>
    <div class="plotforms">
       <div id="plot">
        <h6 class="titlesix">Free for a limited time</h6>
        <h3 class="titletwo">Works&nbsp;with&nbsp;your&nbsp;fav&nbsp;platforms.</h3>
        </div>
        <ul>
            <li>
                <img src="https://kona-digital.com/images/goog.png" alt="">
                <h5>Google</h5>
                <p>Document</p>
            </li>
            <li class="padt100">
                <img src="https://kona-digital.com/images/word.png" alt="">
                <h5>Word</h5>
                <p>Document</p>
            </li>
            <li>
                <img src="https://kona-digital.com/images/gmail.png" alt="">
                <h5>Gmail</h5>
                <p>Mail client</p>
            </li>
            <li class="padt100">
                <img src="https://kona-digital.com/images/mail.png" alt="">  
                 <h5>MailChimp</h5> 
                 <p>Document</p>
            </li>
            <li>
                <img src="https://kona-digital.com/images/tweet.png" alt="">
                <h5>Twitter</h5>
                <p>Document</p>
            </li>
            <li class="padt100">
                <img src="https://kona-digital.com/images/z.png" alt="">   
                <h5>Zendesk</h5> 
                <p>Document</p>
            </li>
        </ul>
    </div>
    <div class="questions">
        <div id="answers">
            <h3>Q&A</h3>
        </div>
        <div class="faq-container">
            <div class="faq-item">
                <div class="question">
                    <span1>
                        <p>End-to-end encryption for business messages for iOS Devices #1</p>
                    </span1>
                    <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                </div>
                <div class="answer">
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <span1>
                        <p>Sending media, documents, location and contacts</p>
                    </span1>
                    <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                </div>
                <div class="answer">
                    <P> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</P>
                </div>
            </div>
            <div class="faq-item">

                <div class="question">
                    <span1>
                        <p>Get insights on key metrics like response time and issue volume</p>
                    </span1>
                    <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                </div>

                <div class="answer">
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <span1>
                            <p>Calling unavailable in some countries</p>
                        </span1>
                        <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                    </div>
                    <div class="answer">
                        <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et.</p>
                    </div>
                        <script src="./../scripts/Q&A.js"></script>
                    </div>
         </div>
         <div id="connect2">
            <div class="connect-container">
                <div id="connect">
                    <h4>Let's Connect.</h4>
                    <p>Whether you have a groundbreaking idea or a challenging project <br> in mind, AI Hub is
                        here to
                        make it a reality.</p>
                 <a href="./../views/know-more.html"><button> Send Message</button></a>
                </div>
                <div class="connectimg">
                    <img src="https://kona-digital.com/images/connect.png" width="40%">
                </div>
            </div>
        </div> 
        <div id="main-wrapper">
            <div id="logo-header">
                <img src="https://konadigital.in/images/ftlog.png" alt="Kona Logo" class="brand-logo">
            </div>
            <div id="description-content">
                <p class="company-description">
                    At our company, we are dedicated to supporting you<br>in the seamless creation of exceptional content that is<br> both efficient and high in quality. Our expert team and <br>advanced AI-powered tools work hand in hand to<br> assist you in effortlessly producing top-notch content<br> that captivates your audience.
                </p>
            </div>
            <div id="info-sections">
                <div class="info-column">
                    <h2>Products</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Solutions</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Services</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Resources</h2>
                </div>
            </div>
            <div class="roboimg">
                <img src="https://konadigital.in/images/fticon.png.png" alt="Robot" class="robot-graphic">
            </div>
        </div> 
    </div>
    <a class="btn_caller fade-in one animated zoomIn" href="javascript:void(0)"> <img src="https://kona-digital.com/images/call_o_o.png" alt="Digital Lync- Call" title="Digital Lync- Call"></a>
</div>
</body>
</html>