<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../styles/hrms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://kona-digital.com/images/logo.png" alt="Kona Logo" height="50">
        </div>
        <nav>
            <div class="dropdown">
                <a href="#">Products</a>
                <div class="dropdown-content">
                    <a href="./lms.html">LMS</a>
                    <a href="./crm.html">CRM</a>
                    <a href="./hrms.html">HRMS</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Solutions</a>
                <div class="dropdown-content">
                    <a href="./educational-instituions.html">Educational Institutions</a>
                    <a href="./Finance.html">FINANCE</a>
                </div>
            </div>

            <div class="dropdown">
                <a href="#">SERVICES</a>
                <div class="dropdown-content">
                    <a href="./Sales.html">Sales</a>
                    <a href="./Services.html">Services</a>
                    <a href="./marketing.html">marketing</a>
                </div>
            </div>
            <a href="#">Resources</a>
            <button>Start Now</button>
        </nav>
    </div>
    </div>
    <div class="empower">
        <div id="head">
            <h1 class="titletwo">Empower your <br>institution’s credence with <br> the most versatile CRM<br>software.</h1>
            <p>Reinforce the trust among your prospective audience and enhance<br> the customer experience multifold with Kona’s CRM software. Take<br> your customer support and relationship management operations<br> to the next level.
            </p>
           <div class="btn-1">
            <a href="./askforfreedemo"></a>Ask For Free Demo</a>
           </div>
        </div>
    <div class="graph">
        <img src="https://kona-digital.com/images/pbanner.jpg" width="40%">
    </div>
    </div>
    <div class="midhead">
        <h3 id="midh3">Here’s what Kona’s CRM 
                   <br>
                     can do for you
        </h3>
        <p id="midh6">A well-rounded Customer Relationship Management (CRM) software that does more 
            <br>
            than just managing your  customer relationships while you manage your more pressing tasks.
        </p>
    </div>
    <div class="cards">
        <div id="icons-4">
          <img src="https://kona-digital.com/images/f1.png">
          <h5>Capture leads</h5>
          <p> Intuitive lead gathering capability that enables you to contact your potential leads with ease and convert them into rewarding customers.</p>
        </div>
        <div class="icons-4">
            <img src="https://kona-digital.com/images/f2.png">
            <h5>Dashboard</h5>
            <p> Intuitive lead gathering capability that enables you to contact your potential leads with ease and convert them into rewarding customers.</p>
        </div>
        <div class="icons-4">
            <img src="https://kona-digital.com/images/f3.png">
            <h5>Qualify and prioritize</h5>
            <p> Intuitive lead gathering capability that enables you to contact your potential leads with ease and convert them into rewarding customers.
        </div>
    </div>
    <div class="cards">
        <div id="icons-4">
          <img src="https://kona-digital.com/images/f3.png">
          <h5>Lead Activity</h5>
          <p> Intuitive lead gathering capability that enables you to contact your potential leads with ease and convert them into rewarding customers.</p>
        </div>
        <div class="icons-4">
            <img src="https://kona-digital.com/images/f4.png">
            <h5>Track Leads Status</h5>
            <p> Intuitive lead gathering capability that enables you to contact your potential leads with ease and convert them into rewarding customers.</p>
        </div>
        <div class="icons-4">
            <img src="https://kona-digital.com/images/f1.png">
            <h5>Send Email &amp; SMS</h5>
            <p> Intuitive lead gathering capability that enables you to contact your potential leads with ease and convert them into rewarding customers.
        </div>
    </div>
    <div class="insight">
        <h6 id="title-1">Insights and Updates</h6>
        <h3 id="title-2">AICopy is built for 
            <br> everyone.</h3>
        <p>Track user behavior, sales revenue, and other key metrics<br>  essential  your business's success.</p>
    <div class="icons">
        <div class="tickmark">
            <i class="fa-solid fa-circle-check"></i>Customer Balance
        </div>
        <div class="tickmark">
            <i class="fa-solid fa-circle-check"> </i>Template Category Access
        </div>
        <div class="tickmark">
            <i class="fa-solid fa-circle-check"> </i>User Spending
        </div>
    </div>
    <div class="insight-2">
        <img src="https://kona-digital.com/images/ai.png">
    </div>
    <div class="questions">
        <div id="answers">
            <h3>Q&A</h3>
        </div>
        <div class="faq-container">
            <div class="faq-item">
                <div class="question">
                    <span1>
                        <p>End-to-end encryption for business messages for iOS Devices #1</p>
                    </span1>
                    <span2 class="arrow">&#11107;</span2>
                </div>
                <div class="answer">
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <span1>
                        <p>Sending media, documents, location and contacts</p>
                    </span1>
                    <span2 class="arrow">&#11107;</span2>
                </div>
                <div class="answer">
                    <P> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</P>
                </div>
            </div>
            <div class="faq-item">

                <div class="question">
                    <span1>
                        <p>Get insights on key metrics like response time and issue volume</p>
                    </span1>
                    <span2 class="arrow">&#11107;</span2>
                </div>

                <div class="answer">
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <span1>
                            <p>Calling unavailable in some countries</p>
                        </span1>
                        <span2 class="arrow">&#11107;</span2>
                    </div>
                    <div class="answer">
                        <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et.</p>
                    </div>
                        <script src="./../scripts/Q&A.js"></script>
                    </div>
         </div>
         <div id="connect2">
            <div class="connect-container">
                <div id="connect">
                    <h4>Let's Connect.</h4>
                    <p>Whether you have a groundbreaking idea or a challenging project <br> in mind, AI Hub is
                        here to
                        make it a reality.</p>
                    <button> Send Message</button>
                </div>
                <div class="connectimg">
                    <img src="https://kona-digital.com/images/connect.png" width="40%">
                </div>
            </div>
        </div> 
        <div id="main-wrapper">
            <div id="logo-header">
                <img src="https://konadigital.in/images/ftlog.png" alt="Kona Logo" class="brand-logo">
            </div>
            <div id="description-content">
                <p class="company-description">
                    At our company, we are dedicated to supporting you<br>in the seamless creation of exceptional content that is<br> both efficient and high in quality. Our expert team and <br>advanced AI-powered tools work hand in hand to<br> assist you in effortlessly producing top-notch content<br> that captivates your audience.
                </p>
            </div>
            <div id="info-sections">
                <div class="info-column">
                    <h2>Products</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Solutions</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Services</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Resources</h2>
                </div>
            </div>
            <div class="roboimg">
                <img src="https://konadigital.in/images/fticon.png.png" alt="Robot" class="robot-graphic">
            </div>
        </div> 
</body>
</html>