<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../styles/services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://kona-digital.com/images/logo.png" alt="Kona Logo" height="50">
        </div>
        <nav>
            <ul class="nav">
                <li class="nav-item"> Products <span class="arrow"><i class="fa-solid fa-angle-down" style="color: #0c0404;"></i></span>
                    <ul class="dropdown">
                        <li><a href="./views/lms.html">LMS</a></li>
                        <li><a href="./views/crm.html">CRM</a></li>
                        <li><a href="./views/hrms.html">HRMS</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    Solutions <span class="arrow"><i class="fa-solid fa-angle-down" style="color: #0c0404;"></i></span>
                    <ul class="dropdown">
                        <li><a href="./../views/educational-instituions.html">Educational Institutions</a></li>
                        <li>FINANCE</li>
                    </ul>
                </li>
                <li class="nav-item">
                    Services <span class="arrow"><i class="fa-solid fa-angle-down" style="color: #0c0404;"></i></span>
                    <ul class="dropdown">
                        <li>Sales</li>
                        <li>Services</li>
                        <li>marketing</li>
                    </ul>
                
                </li>
                <a href="#">Resources</a>
                <a id="shaik" href="./views/know-more.html">Start Now</a>
            </ul>
        </nav>
        </div>
        <div class="service-banner">
            <div class="container-2">
                <h1 class="titletwo">Need help with marketing?<br> Don’t sweat! We make getting<br>a digital push as easy as pie!</h1>
                <p>Looking for content that captivates, designs that inspire, and<br> campaigns that connect? Well, you are in the right place. KonaMars<br> is here to assist you with all your digital marketing needs.
                </p>
                <div class="btns">
                    <a id="btn" href="views\know-more.html">Ask For Free Demo</a>
                </div>
            </div>
            <div>
                <img id="img-1" src="https://kona-digital.com/images/iphone.png" alt="">
            </div>
        </div>
     <div class="tex-center">
            <h2 class="titletwo">
                Services  
                <br>
                <img src="https://kona-digital.com/images/tag.png" alt="">
            </h2>
    </div>
    <div class="service-banner">
        <div class="container-2">
            <h6 class="titlesix">Enhance your result appearance</h6>
            <h4 class="titlefour">Rich Snippets enhance your appearance in
                Google Search results and help visitors find
                detailed information about the content or
                product you’re offering.  
                <span>There are different
                    types of data that can be added to the rich
                    snippet such as the product price and blog
                    post details. Potential visitors can now access
                    the necessary content right away.</span>
            </h4>
        </div>
        <div>
            <img id="img-1" src="https://kona-digital.com/images/im1.jpg" alt="">
        </div>
    </div>
    <div class="service-banner-1">
        <div>
            <img id="img-1" src="https://kona-digital.com/images/im2.jpg" alt="">
        </div>
        <div class="container-3">
            <h6 class="titleseven">Connect Structure</h6>
            <h4 class="titlefive">Heading Tags provide structure and hierarchy
                for your content as they improve the
                readability of your site. Now, you can assign
                custom heading tags to all widgets including
                portfolio, icon box, blog and more.  
                <span>You can
                    even inherit CSS styles from other headings
                    without changing the HTML tags.</span>
            </h4>
        </div>
    </div>
    <div class="service-banner-3">
        <div class="container-3">
            <h6 class="title-8">Performance enhancements</h6>
            <h4 class="title-6">Search engines and users deeply care about
                how your site perform across different
                devices. Now, you can assign custom heading
                tags to all widgets including portfolio, icon
                box, blog and more.   
                <span>You can even inherit CSS
                    styles from other headings without changing
                    the HTML tags.</span>
            </h4>
        </div>
        <div>
            <img id="img-1" src="https://kona-digital.com/images/im3.jpg" alt="">
        </div>
    </div>
    <div class="service-banner-1">
        <div>
            <img id="img-1" src="https://kona-digital.com/images/im4.jpg" alt="">
        </div>
        <div class="container-3">
            <h6 class="titleseven">Content structure</h6>
            <h4 class="titlefive">Heading Tags provide structure and hierarchy
                for your content as they improve the
                readability of your site. Now, you can assign
                custom heading tags to all widgets including
                portfolio, icon box, blog and more.   
                <span>You can
                    even inherit CSS styles from other headings
                    without changing the HTML tags.span>
            </h4>
        </div>
    </div>
    <div class="service-banner-3">
        <div class="container-3">
            <h6 class="title-8">Performance enhancements</h6>
            <h4 class="title-6">Search engines and users deeply care about
                how your site perform across different
                devices. Now, you can assign custom heading
                tags to all widgets including portfolio, icon
                box, blog and more.   
                <span>You can even inherit CSS
                    styles from other headings without changing
                    the HTML tags.</span>
            </h4>
        </div>
        <div>
            <img id="img-1" src="https://kona-digital.com/images/im3.jpg" alt="">
        </div>
    </div>
    <div class="service-banner-3">
        <div class="container-3">
            <h6 class="title-8">Performance enhancements</h6>
            <h4 class="title-6">Search engines and users deeply care about
                how your site perform across different
                devices. Now, you can assign custom heading
                tags to all widgets including portfolio, icon
                box, blog and more.   
                <span>You can even inherit CSS
                    styles from other headings without changing
                    the HTML tags.</span>
            </h4>
        </div>
        <div>
            <img id="img-1" src="https://kona-digital.com/images/im5.jpg" alt="">
        </div>
    </div>
    <div class="questions">
        <div id="answers">
            <h3>Q&A</h3>
        </div>
        <div class="faq-container">
            <div class="faq-item">
                <div class="question">
                    <span1>
                        <p>End-to-end encryption for business messages for iOS Devices #1</p>
                    </span1>
                    <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                </div>
                <div class="answer">
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <span1>
                        <p>Sending media, documents, location and contacts</p>
                    </span1>
                    <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                </div>
                <div class="answer">
                    <P> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</P>
                </div>
            </div>
            <div class="faq-item">
                <div class="question">
                    <span1>
                        <p>Get insights on key metrics like response time and issue volume</p>
                    </span1>
                    <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                </div>

                <div class="answer">
                    <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                        quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                        single-origin coffee nulla assumenda shoreditch et.</p>
                </div>
                <div class="faq-item">
                    <div class="question">
                        <span1>
                            <p>Calling unavailable in some countries</p>
                        </span1>
                        <span2 class="arrow"><i class="fa-solid fa-angle-down"></i></span2>
                    </div>
                    <div>
                        <img id="blur" src="./../images/blur3.png" alt="" >
                    </div>
                    <div class="answer">
                        <p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et.</p>
                    </div>
                        <script src="./../scripts/Q&A.js"></script>
                    </div>
         </div>
         <div id="connect2">
            <div class="connect-container">
                <div id="connect">
                    <h4>Let's Connect.</h4>
                    <p>Whether you have a groundbreaking idea or a challenging project <br> in mind, AI Hub is
                        here to
                        make it a reality.</p>
                 <a href="./../views/know-more.html"><button id="btns-3"> Send Message</button></a>
                </div>
                <div class="connectimg">
                    <img src="https://kona-digital.com/images/connect.png" width="40%">
                </div>
            </div>
        </div> 
        <div id="main-wrapper">
            <div id="logo-header">
                <img src="https://konadigital.in/images/ftlog.png" alt="Kona Logo" class="brand-logo">
            </div>
            <div id="description-content">
                <p class="company-description">
                    At our company, we are dedicated to supporting you<br>in the seamless creation of exceptional content that is<br> both efficient and high in quality. Our expert team and <br>advanced AI-powered tools work hand in hand to<br> assist you in effortlessly producing top-notch content<br> that captivates your audience.
                </p>
            </div>
            <div id="info-sections">
                <div class="info-column">
                    <h2>Products</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Solutions</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Services</h2>
                    <ul>
                        <li>LMS</li>
                        <li>CRM</li>
                        <li>HRMS</li>
                    </ul>
                </div>
                <div class="info-column">
                    <h2>Resources</h2>
                </div>
            </div>
            <div class="roboimg">
                <img src="https://konadigital.in/images/fticon.png.png" alt="Robot" class="robot-graphic">
            </div>
        </div> 
    </div>
    <div class="button-container">
        <div class="call-button" id="callButton">
            <img src="https://kona-digital.com/images/call_o_o.png" alt="Call Icon">
        </div>
        <div class="info-popup" id="infoPopup">
            <div class="popup-header">
                <span>Call Us (Or) Whatsapp Us</span>
                <button class="close-btn" id="closeButton">&times;</button>
            </div>
            <p><a href="tel:+919515175551">+91 9515175551</a></p>
        </div>
        <script src="./../scripts/pop-msg.js"></script>
    </div>
</div>
</body>
</html>